.footerContainer {
  margin-top: 1rem;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;

  .contactContainer {
    width: 50%;
  }

  a {
    text-decoration: none;
  }

  .socialMedia {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }

}

@media (max-width: 600px) {
  .footerContainer {
    flex-direction: column;
    width: 100%;

    .contactContainer {
      width: 100%;
    }
  }



  .contactWithMe {
    width: 100%;
  }

  .p {
    width: 100%;
  }
}